{# Copyright 2014 BaseKit Platform Ltd #}
{% extends "layout.twig" %}
{% block content %}

<div class="container page-wrap">
    <div class="flex-wrapper">

	<header class="template-header">
		{% include "header.twig" %}
	</header>


		<section class="section main default-page">
			{{zone('main')|raw}}
		</section>

{% endblock %}