{# Copyright 2014 BaseKit Platform Ltd #}
<div class="header-main container">
	<div class="wrapper">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
	</div>
</div>