{# Copyright 2014 BaseKit Platform Ltd #}
<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
		{% include "head.twig" %}

		{% include basekit.headScript %}
	</head>

	<body {{ isV10sSite ? 'id="migrated-site"' : '' }} class="{{ page.backgroundClass }} {{ site.colorSwatch }}">

		{% block content %}
		{% endblock %}

			{% include "footer.twig" %}

		</div>

		{% include basekit.bodyScript %}

	</body>
</html>